<% content_for :header do %>Listing mixes<% end %>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @mixes.each do |mix| %>
  <tr>
    <td><%=h mix.name %></td>
    <td><%= link_to 'View / Update', mix %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create a new mix', new_mix_path %>
